.create-category-container {
  background-color: #f9f9f7;
  display: flex;
  flex-direction: column;
  min-height: 80%;
}

.create-category-container button{
  margin-right: 20px;
}
.form {
  margin: auto;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: auto; /* Ajusta según el contenido */
  max-width: 400px;
  margin: 30px auto;
}

.form h1 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  text-align: center;
}

.form label {
  width: 90%;
  text-align: left;
  font-size: 0.9rem;
  color: var(--footer-color);
}

.form label input{
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: none;
  border-bottom: 2px solid #ddd; /* Línea inferior */
  font-size: 0.9rem;
  box-sizing: border-box;
  background-color: transparent;
  outline: none;
  margin-bottom: 20px;
  color: #000;
  transition: border-color 0.3s ease;
  font-family: "Poppins";
}

.form label input:focus,
.form label textarea:focus {
  border-bottom: 2px solid var(--header-color);
}

.form label textarea {
  height: 40px;
  resize: none;
}

.button-container {
  margin-top: 20px; /* Ajusta la posición del botón */
}

.form button {
  width: 100%;
  padding: 10px;
  background-color: var(--secondary-dark);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-family: "Poppins";
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form button:disabled {
  background-color: var(--header-dark);
  cursor: not-allowed;
}

.form button:hover:not(:disabled) {
  background-color: var(--header-dark);
}

.icon-select-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  justify-content: center;
}


