.admin-view {
  /* padding: 10px; */
  
  width: 100%;
  margin: auto;
  background-color: #f9f9f7;
  color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  /* background-color:var(--background-light)!important; Forzar fondo blanco */
  /* background-color:#f9f9f7; */
  background-color: var(--background-color);
  color: #333;
}

/* Estilos para el título */
/* .admin-view h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
} */

/* Estilos para la tabla */
.admin-view table {
  width: 90%;
  border-collapse: collapse;
  margin-bottom: 20px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f7;
  font-size: 12px;
  padding-left: 8px;
}

/* Estilos para las celdas de la tabla */
.admin-view th,
.admin-view td {
  text-align: left;
  padding: 0px; /* Reducir el padding para disminuir el espacio entre filas */
  border-bottom: 1px solid #ddd; /* Agregar borde inferior a cada fila */
 
}

/* Estilos para el encabezado de la tabla */
.admin-view th {
  padding: 5px;
  background-color: #f8f9fa;
  color: #333;
  font-weight: bold;
  border-bottom: 4px solid #ddd;
}

.admin-view table td {
   padding-left: 8px;
   font-size: 15px;
   margin-top: 50px;
}

.admin-view table td button {
  margin: 5px; /* Elimina el margen */
  gap: 30px;
  height: 25px;
  width: 40px;
}

.admin-view table td button{
  padding: 2px 2px;
  /* margin: 5px; */
}
/* Estilos para las filas de la tabla */
.admin-view tr:hover {
  background-color: #f1f1f1;
}

/* Estilos para los botones */
.admin-view button {
  padding: 5px 2px;
  margin-right: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 10px;
  transition: background-color 0.3s ease;
}

/* Estilos para el botón de editar */
.admin-view button:nth-child(1) {
  background-color:var(--header-dark);
  color: white;
}

.admin-view button:nth-child(1):hover {
  background-color: #45a049;
}

/* Estilos para el botón de eliminar */
.admin-view button:nth-child(2) {
  background-color: var(--error-color); 
  color: white;
}

.admin-view button:nth-child(2):hover {
  background-color: #eb5451;
}

.top-bar .create-btn {
  background-color: #20575a !important;
  color: white;
  padding: 5px;
  font-size: 1rem;
  width: 150px;
  height: 30px;
  /* margin-top: 10px; */
}

.top-bar .create-btn:hover {
  background-color: #2a6d70 !important;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 500px; /* Ancho reducido */
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 2px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-container:focus-within {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
}

/* Estilos para el ícono de búsqueda */
.search-icon {
  color: #777;
  font-size: 1.2rem;
}

/* Estilos para el input de búsqueda */
.search-container input {
  /* flex: 1; */
  border: none;
  background: none;
  /* font-size: 1rem; */
  outline: none;
  height: 1px;
}

/* Estilos para el contenedor superior (top-bar) */
.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 35px;
  margin-bottom: 25px;
}
