.backButton {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  background-color: #457d58;
  border-radius: 0.5rem;
  transition: background-color 0.2s ease-in-out;
  width: 5%;
  height: 2%;
  margin: 10px;
}

.backButton:hover {
  background-color: #d1d5db;
  cursor: pointer;
}
