.backButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #457d58;
  border-radius: 0.5rem;
  transition: background-color 0.2s ease-in-out;
  width: 15%;
}

.backButton:hover {
  background-color: #d1d5db;
}
