.calendar-container {
  max-width: 400px;
  margin: auto;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  border-color: #f5f5eb;
  color: #686868;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 100;
}

.custom-calendar {
  font-family: "Poppins", serif;
  border: none;
  background-color: gr#f5f5eb;
  padding: 10px;
  border-radius: 10px;
}

.react-calendar__tile {
  color: #f0eded !important; /* Cambiar el color de los números a gris */
}

.react-calendar__tile--active {
  background-color: rgba(0, 126, 71, 1) !important;
  color: white !important;
}

.react-calendar__tile:hover {
  background-color: #f1eded;
  border-radius: 25px;
}

.time-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
  justify-content: center;
  padding: 15px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 60%;
}

.time-picker select {
  font-family: "Poppins", serif;
  background-color: white;
  border: 1px solid #e46115;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  color: grey;
  width: 70%;
  text-align: center;
}

.time-picker select:hover {
  background-color: #f1eded;
}

.time-picker select:focus {
  outline: none;
  border-color: #4caf50;
}

.selected-info {
  font-family: "Poppins", serif;
  margin-top: 10px;
  font-size: 18px;
  color: #686868;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.react-calendar__month-view__days__day {
  color: #686868 !important;
}
.react-calendar__navigation {
  color: #686868 !important;
}

.react-calendar__navigation__arrow {
  color: #686868 !important;
}

.react-calendar__navigation__prev2-button {
  color: #686868 !important;
}

.react-calendar__navigation__label__labelText {
  color: #686868 !important;
}
.react-calendar__navigation__label__labelText--from {
  color: #686868 !important;
}

.tituloCalendar {
  margin-top: 15px;
  margin-bottom: 5px;
  color:gray;
  font-size: 15px;
}

.tituloHour {
  margin-top: 5px;
  margin-bottom: 5px;
  color:gray;
  font-size: 12px;
}

.react-calendar__tile--active {
  background-color: rgba(
    0,
    66,
    37,
    1
  ) !important; /* Fondo blanco para el día seleccionado */
  border-radius: 25px;
  color: white !important; /* Color de texto gris para el día seleccionado */
}
