/* Contenedor principal del calendario */
.search-calendar-container {
  text-align: center;
  padding: 0 15px;
  border-radius: 10px;
  border-color: #f5f5eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Estilos generales del calendario */
.search-custom-calendar {
  font-family: "Poppins", serif;
  border: none;
  background-color: #252625 !important;
  padding: 10px;
  border-radius: 8px;
  min-width: 290px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Efectos al estar activo */
.search-calendar-container.active,
.search-custom-calendar {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
}

/* Estilo de los días del calendario */
.react-calendar__tile {
  color: #252625 !important;
}

/* Día seleccionado */
.search-custom-calendar .react-calendar__tile--active {
  font-family: "Poppins", serif;
  background-color: #f0592a !important;
  color: white !important;
}

/* Deshabilitar fechas pasadas */
.search-custom-calendar .react-calendar__tile--disabled {
  cursor: not-allowed !important;
  opacity: 0.5;
  background-color: #252625 !important;
  color: #686868;
}

/* Efecto hover en los días del calendario */
.search-custom-calendar .react-calendar__tile:hover {
  background-color: #f0592a !important;
  color: #252625 !important;
  transition: background-color 0.3s, color 0.3s;
}

/* Información de la fecha seleccionada */
.search-custom-calendar .selected-info {
  font-family: "Poppins", serif;
  margin-top: 10px;
  font-size: 18px;
  color: #686868;
  background-color: white;
  padding: 0 10px;
}

/* Estilos de los días del mes */
.search-custom-calendar .react-calendar__month-view__days__day {
  color: #f6f6e9 !important;
}

/* Estilos de la navegación del calendario */
.search-custom-calendar .react-calendar__navigation {
  color: #949494 !important;
}

.search-custom-calendar .react-calendar__navigation button {
  cursor: pointer !important;
  opacity: 1 !important;
  pointer-events: all !important;
  color: #686868 !important;
}

.search-custom-calendar .react-calendar__navigation__arrow,
.search-custom-calendar .react-calendar__navigation__prev2-button {
  color: #a2a2a2 !important;
}

/* Etiquetas de navegación */
.search-custom-calendar .react-calendar__navigation__label__labelText {
  font-family: "Poppins", serif;
  color: #686868 !important;
}

.search-custom-calendar .react-calendar__navigation__label__labelText--from {
  font-family: "Poppins", serif;
  color: #c91b1b !important;
}

/* Título del calendario */
.tituloCalendar {
  margin-top: 15px;
  margin-bottom: 5px;
  color: gray;
  font-size: 15px;
}
