.calendar-container {
  font-family: "Poppins", serif;
  text-align: center;
  border-radius: 10px;
  border-color: #f5f5eb;
  color: #686868;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -10px;
}

.custom-calendar {
  font-family: "Poppins", serif;
  border: none;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  width: 100% !important;
}

.react-calendar__tile {
  color: #f0eded !important; /* Cambiar el color de los números a gris */
}

.react-calendar__tile--active {
  background-color: rgba(0, 126, 71, 1) !important;
  color: white !important;
}

.react-calendar__tile:hover {
  background-color: #f1eded;
}

.time-picker {
  font-family: "Poppins", serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
  border-color: white;
  background-color: white;
  width: 100%;
}

.time-button {
  background-color: white;
  border: 1px solid #e46115;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
  color: #e46115;
  width: 19%;
  display: flex;
  text-align: center;
  margin: 5px;
}

.time-button:hover {
  background-color: #e0e0e0;
}

.selected {
  background-color: #474947;
  color: white;
}

.selected-info {
  margin-top: 15px;
  font-size: 18px;
  color: #686868;
}

.react-calendar__month-view__days__day {
  color: #686868 !important;
}
.react-calendar__navigation {
  color: #686868 !important;
}

.react-calendar__navigation__arrow {
  color: #686868 !important;
}

.react-calendar__navigation__prev2-button {
  color: #686868 !important;
}

.react-calendar__navigation__label__labelText {
  color: #686868 !important;
}
.react-calendar__navigation__label__labelText--from {
  color: #686868 !important;
}

.tituloCalendar {
  color: var(--header-dark);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 5px;
  padding: 10px 0;
}

.react-calendar__tile--active {
  background-color: rgba(0, 66, 37, 1) !important;
  color: white !important;
  cursor: pointer;
}

.react-calendar__tile--disabled {
  cursor: no-drop !important;
  opacity: 0.5;
  background-color: #d3d9d3 !important;
  color: #686868 !important;
}


/* Estilo para fechas totalmente reservadas */
.fully-reserved-date {
  background-color: darkorange !important;
  color: white !important;
}

/* Estilo para fechas parcialmente reservadas */
.partially-reserved-date {
  background-color: rgb(245, 210, 12) !important;
  color: white !important;
}

/* Estilo para las horas reservadas */
.reserved-time {
  background-color: orange;
  color: white;
  cursor: not-allowed; /* Cambia el cursor para que parezca deshabilitado */
}

/* Estilo cuando se selecciona una fecha y está reservada (si está reservada, se marca en un color diferente) */
.react-calendar__tile--active.fully-reserved-date {
  background-color: rgba(0, 66, 37, 1) !important;
  color: white !important;
}

/* Estilo cuando se selecciona una fecha y está parcialmente reservada (se resalta con un color específico) */
.react-calendar__tile--active.partially-reserved-date {
  background-color: rgba(0, 66, 37, 1) !important;
  color: white !important;
}


/* Cambia el color de los meses deshabilitados */
.react-calendar__year-view .react-calendar__tile[disabled] {
  background-color: #2c2c2c !important;
  color: #8b8b8b !important;
  cursor: no-drop !important;
}

/* Cambia el color de los años deshabilitados */
.react-calendar__decade-view .react-calendar__tile[disabled] {
  background-color: #2c2c2c !important;
  color: #8b8b8b !important;
  cursor: no-drop;
}

/* Estilos de navegación: flechas prev y next deshabilitadas */
.react-calendar__navigation__prev2-button[disabled],
.react-calendar__navigation__next2-button[disabled] {
  cursor: no-drop !important;
  opacity: 0.5;
}

/* Estilos de navegación: flechas prev y next deshabilitadas */
.react-calendar__navigation__prev-button[disabled],
 .react-calendar__navigation__next-button[disabled] {
  cursor: no-drop !important;
  opacity: 0.5;
}

/* Estilos para las fechas deshabilitadas en la vista de mes */
.react-calendar__year-view .react-calendar__tile[disabled] {
  cursor: no-drop !important;
  opacity: 0.5;
  background-color: #2c2c2c !important;
  color: #8b8b8b !important;
}

/* Estilos para las fechas deshabilitadas en la vista de año */
.react-calendar__decade-view .react-calendar__tile[disabled] {
  cursor: no-drop !important;
  opacity: 0.5;
  background-color: #2c2c2c !important;
  color: #8b8b8b !important;
}

