.account-container {
  display: flex;
  background-image: linear-gradient(
      rgba(138, 135, 135, 0.5),
      rgba(129, 129, 131, 0.5)
    ),
    url("public/images/crearCuenta/Fondo.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", serif;
}

.details-register-container {
  display: flex;
  width: 95%;
  height: 80%;
  margin: 5%;
  background-color: white;
  justify-content: center;
}

.details-register-subcontainer {
  display: flex;
  margin: 5%;
  gap: 5%;
  width: 100%;
  justify-content: center;
}

.titulo-account {
  color: black;
  font-family: "Poppins", serif;
  font-size: 35px;
  margin-bottom: 10%;
  font-weight: bold;
  margin-left: 8%;
  margin-right: 8%;
  text-align: center;
  width: 95%;
}

.imagen-account {
  width: 50%;
}

.forms-title {
  display: flex;
  flex-direction: column;
  width: 95%;
  align-items : center;
}
