.detail-container {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: beige;
}

.detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  margin: 10px;
}

.product {
  color: rgba(32, 87, 90, 1);
  display: flex;
  margin: 5%;
  flex-direction: column;
  align-items: left;
}

.image-detail {
  width: 300px;
  border-radius: 5%;
  margin-bottom: 10px;
  height: 80%;
}

.image-detail:hover {
  transform: scale(1.1);
}

.detail-extra-info {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.title-product {
  text-align: left;
  margin: 0;
}

.details-product {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  font-size: 14px;
  align-items: center;
  text-align: center;
  width: 40%;
}

.InfoProduct {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 5px;
  margin-bottom: 5px;
}

.contenedor-detail-product {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.aling-body {
  width: auto;
}

.Mapa {
  display: flex;
  justify-items: center;
  margin: 40px;
}

.galeria {
  display: flex;
  justify-content: left;
  gap: 12px;
}

.contenedor-titulo {
  display: flex;
}
