.home-container {
  position: relative;
  width: 100%;
  background-image: url("../../public/icons/image 3.png");
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  height: 70%;
  background-color: var(--background-color);
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-top: 15%;
}

.searcher-container {
  height: 70vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 10px 20px 10px 100px;
  background-size: cover;
  background-repeat: no-repeat;
}

.searcher-container h1 {
  margin: 0 0 10px 0;
}

.main-text-container {
  text-align: left;
  p{
    color: rgb(206, 199, 199);
  }
  
}

.searcher {
  display: flex;
  align-items: center;
  gap: 20px;

  width: 70%;
  height: 15%;
  padding: 0 10px;
  background-color: white;
  border-radius: 8px;
}

input {
  background-color: white;
  border: 1px;
  padding: 10px 0;
  width: 50%;
}

input:focus {
  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  background-color: var(--secondary-color);
}

.home-cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  justify-self: center;
  justify-items: center;
  align-items: center;

  gap: 80px 0;
}

.extra-info-container {
  display: flex;
  position: absolute;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  width: 80%;
}

.box-1 {
  background-color: rgba(69, 125, 88, 1);
  padding: 10px 10px;
  margin: 20px 0px;
}

.box-2 {
  background-color: rgba(37, 38, 37, 1);
  padding: 10px 10px;
  margin: 20px 0px;
  color: blanchedalmond;
}

.box-title {
  color: blanchedalmond;
  margin: 15px 0 5px 0;
  text-align: left;
}

.text {
  color: blanchedalmond;
  font-size: 16px;
  text-align: left;
}

.right-arrow {
  width: 40px;
  height: 40px;
}

.home-recommendations-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  margin-top: 5%;
}

.recommendations-title {
  color: black;
  justify-self: left;
  margin: 0 0 5px 0;
  font-size: 20px;
}

.recommendations-text {
  margin-top: 0;
  color: rgba(110, 110, 110, 1);
  font-size: 16px;
  justify-self: left;
}

@media (max-width: 890px){
  .home-container {
    height: 70%;
  }

  .main-content {
    margin-top: 25%;
  }

  .searcher-container {
    align-items: flex-start;
    padding: 10px 20px 10px 20px;
  }
  .searcher {
    width: 70%;
    height: auto;
    padding: 10px;
  }

  input {
    width: 100%;
  }

  .home-cards-container {
    grid-template-columns: 1fr;
    gap: 40px 0;
    height: 100%;
  }

  .extra-info-container {
    flex-direction: row;
    align-items: flex-start;
    width: 80%;
  }

  .box-1, .box-2 {
    width: auto;
    padding: 10px 10px;
    margin: 20px 0px;
    margin-top: 20%;
  }
  .home-recommendations-container {
    align-items: flex-start;
    width: 95%;
  }

  .recommendations-title {
    text-align: left;
  }

  .recommendations-text {
    text-align: left;
  }
}