.image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.image-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

.image {
  width: 100%;
}

.main-title {
  color: rgba(117, 117, 117, 1);
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0;
  justify-self: center;
}

.secondary-title {
  color: rgb(7, 7, 7);
  font-size: 7px;
  margin-top: 0;
  font-weight: bold;
  justify-self: center;
}

.image-text {
  color: rgba(117, 117, 117, 1);
  font-size: 10px;
  width: 50%;
  margin: 25px;
}
