.background-container {
  display: flex;
  background-image: linear-gradient(
      rgba(138, 135, 135, 0.5),
      rgba(129, 129, 131, 0.5)
    ),
    url("/images/crearCuenta/Fondo.jpg");
  background-size: cover;
  background-position: center;
  min-height: 90vh;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", serif;
  flex-direction: column;
  padding: 50px;
}

.background-container .backButton {
  margin-right: 100px;
  margin-bottom: 20px;
}

.booking-history-container {
  width: 75%;
  height: 90vh;
  background-color: #f6f6f6;
  margin: 0 auto; /* Centra el contenido horizontalmente */
  margin-bottom: 20px;
  overflow-y: auto;
}

.div-tittle {
  margin-left: 40px;
  margin-bottom: 60px;
  line-height: 0.5;
}

.div-tittle h3 {
  color: #242424;
  font-size: 1.8rem;
}

.search-div{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

  .search-container-booking {
    width: 95%;/* Ancho reducido */
    height: 35px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
  }
  
  .search-icon {
    margin-right: 10px;
    color: #555;
  }
  
  .search-container-booking input[type="text"] {
    border: none;
    flex: 1; /* Permite que el input ocupe el espacio restante */
    padding: 8px;
    font-size: 16px;
    outline: none;
    background-color: #f6f6f6;
    color: #333;
  }
  
  .booking-history-container table {
    width: 90%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    background-color: #f9f9f7;
    font-size: 12px;
    padding-left: 8px;
    margin-bottom: 15px;
  }
  
  /* Estilos para el encabezado de la tabla */
  .booking-history-container th {
    padding: 5px;
    font-size: 15px;
    background-color: #f8f9fa;
    color: #333;
    font-weight: bold;
    border-bottom: 4px solid #ddd;
    padding-left: 15px;
  }

/* Estilos para las celdas de la tabla */
.booking-history-container th,
.booking-history-container td {
  text-align: left;
  border-bottom: 1px solid #ddd; /* Agregar borde inferior a cada fila */
}

.booking-history-container table td {
  padding-left: 15px;
  font-size: 15px;
}


.court-name-link:hover {
  color: #333; 
  text-decoration: underline; 
}

.booking-history-container td button {
  margin: 5px;
  gap: 30px;
  width: 40px;
  background-color: var(--header-dark);
}

.booking-history-container .icon-btn {
  padding: 5px 5px;
  background-color: #f44336;
  border-radius: 6px;
}

/* Estilos para el modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.review-modal {
  background-color: white;
  padding: 20px;
  padding: 20px;
  border-radius: 8px;
  width: 700px;
  max-width: 90%;
  position: relative;
}

.review-modal-actions {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.star-rating {
  margin: 15px 0;
  font-size: 1.5rem;
}

.star-rating span {
  margin: 0 2px;
  color: #555;
}

.review-modal textarea {
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f6f6f6;
  color: #333;
  font-family: "Poppins";
}

.submit-review {
  width: 20%;
  background-color: var(--header-dark);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Poppins";
  transition: background-color 0.3s ease;
  text-align: center;
}

.submit-review:hover {
  background-color: #45a049;
}

/* Estilo para el botón de cancelar */
.cancel-review {
  width: 20%;
  background-color: #f44336; /* Rojo */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  font-family: "Poppins";
  text-align: center;
}

.cancel-review:hover {
  background-color: #e53935;
}

.cancel-review:focus {
  outline: none;
}

@media (max-width:890px){

  /* Div tittle */
  #root .div-tittle{
   font-size:14px;
  }
  
  /* Heading */
  #root .div-tittle h3{
   font-size:24px;
  }
  
 /* Search container booking */
 #root .search-div .search-container-booking{
  transform:scale(0.85);
 }
  
  /* Th */
  #root tr th{
   transform:scale(0.8);
  }
  
  .booking-history-container table {
  transform:scale(0.85);

  }
  
 }

 @media (max-width:720px){

   /* Search container booking */
   #root .search-div .search-container-booking{
    transform:scale(0.85);
   }
  
 }

 @media (max-width:680px){

  /* Search container booking */
  #root .search-div .search-container-booking{
   transform:scale(0.85);
  }
  
  /* Table */
  #root table{
   transform:scale(0.85);
  }
  /* Heading */
 #root .div-tittle h3{
  font-size:18px;
 }
 
 /* Div tittle */
 #root .div-tittle{
  font-size:12px;
 }
 
 
 /* Back button */
 #root .backButton{
  transform:translatex(200px) translatey(-16px);
 }
 
 .booking-history-container table {
  transform:scale(0.75);

  }
 }
 @media (min-width: 500px) and (max-width: 600px){

  /* Table */
  #root table{
   transform:scale(0.75);
   position:relative;
   left:-40px;
  }
  
 }

 @media (min-width: 480px) and (max-width: 500px){

  /* Table */
  #root table{
   transform:scale(0.55);
   position:relative;
   left:-65px;
  }
  
 }

  @media (min-width: 400px) and (max-width: 480px){
  
    /* Table */
    #root table{
    transform:scale(0.45);
    position:relative;
    left:-80px;
    padding-right: 10px;
    }

    #root .div-tittle h3{
      font-size:14px;
    }

    #root .div-tittle{
      font-size:8px;
    }
  }
  @media (min-width: 370px) and (max-width: 400px){
    #root table{
      transform:scale(0.40);
      position:relative;
      left:-100px;
      padding-right: 10px;
      }
  
      #root .div-tittle h3{
        font-size:12px;
      }
  
      #root .div-tittle{
        font-size:6px;
      }

  }
