/*#root {
  width: 100%;
  margin: 0;
  min-height: 100vh;
}*/

:root {
  /* Primary colores */
  --header-color: #7fbf9d;
  --header-light: #82d7aa;
  --header-dark: #457d58;

  --footer-color: #252625;

  /* Secondary colors */
  --secondary-color: #f0592a;
  --secondary-light: #a6aeb7;
  --secondary-dark: #495057;

  /* Background colors */
  --background-color: #f6f6e9;
  --background-light: #f6f6e996;
  --background-dark: #343a40;

  /* Text colors */
  --text-primary: #212529;
  --text-secondary: #6c757d;
  --text-light: #ffffff;

  /* Accent colors */
  --success-color: #28a745;
  --warning-color: #ffc107;
  --error-color: #dc3545;
  --info-color: #17a2b8;
}



body {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  height: 100vh;
}

a {
  color: var(--text-primary);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  transform: scale(1.1);
}


.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}
